<main>
    <h1>{{title}}</h1>
    <hr />
    <nav><a [routerLink]="['/']" [routerLinkActive]="['active-link']"
            [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a [routerLink]="['/fruta']" [routerLinkActive]="['active-link']"
            [routerLinkActiveOptions]="{ exact: true }">Fruta</a>
        <a [routerLink]="['/empleado']" [routerLinkActive]="['active-link']"
            [routerLinkActiveOptions]="{ exact: true }">Empleados</a>
        <a [routerLink]="['/contacto']" [routerLinkActive]="['active-link']"
            [routerLinkActiveOptions]="{ exact: true }">Contacto</a>
        <a [routerLink]="['/coche']" [routerLinkActive]="['active-link']"
            [routerLinkActiveOptions]="{ exact: true }">Coche</a>
    </nav>
    <div class="container">



        <router-outlet></router-outlet>
    </div>
</main>