* {
  font-family: monospace;
}

h1 {
  color: #369;
  font-size: 250%;
  text-align: center;
}

h2,
h3 {
  color: #444;
  font-weight: lighter;
  text-align: center;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 2rem;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

body,
input[text],
button {
  color: #888;
}

nav {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-content: center;
  width: 90%;
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  padding: 2rem;
}

a {
  font-family: monospace;
  font-size: 16px;
}

.active-link {
  font-weight: bold;
}
